<!--
    James Carlson
    Coding Temple - SE FT-144
    Frontend - Mini Project: PokeAPI Integration Project
-->

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Acme&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
<link rel="icon" href="../static/images/icon_pokeball.svg">
<link rel="stylesheet" href="../static/main.css">
<script src="../static/main.js" defer></script>
<title>PokéAPI Team Assembler</title>
</head>
<body class="container">
    <div class="body-content p-5">
        <div class="text-center">
            <img src="../static/images/logo_pokeapi.png" class="mt-5 mb-1">
            <h1 class="mb-5">Team Assembler</h1>
            <h4>Choose Pokémon for your team!</h4>
            <div class="pokemon-selection my-5">
                <form class="pokemon-form input-group input-group-lg" action="POST" onsubmit="choosePokemon(event)">
                    <input type="text" name="pokemon" class="form-control" placeholder="Choose Your Pokémon" required>
                    <button type="submit" class="btn-lg btn-primary">I Choose You!</button>
                </form>
            </div>
            <div class="d-flex justify-content-center pokemon-display mb-3">

            </div>
            <br>
            <div id="team-space">
                
            </div>
        </div>
    </div>
        <footer class="d-flex justify-content-center align-items-center">
            <p>Created by <a href="https://www.jamesmbcarlson.com/">James Carlson</a>, using <a href="https://pokeapi.co/">PokéAPI</a>. Pokémon and Pokémon character names are trademarks of Nintendo.</p>
        </footer>
    


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>