<!--
    James Carlson
    Coding Temple - SE FT-144
    Frontend - Mini Project: PokeAPI Integration Project
-->

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="../static/main.css">
<script src="../static/main.js" defer></script>
<title>PokéAPI Team Assembler</title>
</head>
<body class="container">
    <div class="body-content p-5">
        <div class="text-center">
            <img src="../static/images/logo_pokeapi.png" class="my-5">
            <h4>Choose Pokémon for your team!</h4>
            <div class="pokemon-selection my-5">
                <form class="pokemon-form input-group input-group-lg" action="POST" onsubmit="choosePokemon(event)">
                    <input type="text" name="pokemon" class="form-control" placeholder="Choose Your Pokémon" required>
                    <button type="submit" class="btn-lg btn-primary">I Choose You!</button>
                </form>
            </div>
            <div class="d-flex justify-content-center pokemon-display">

                <div class="preview-card card p-3">
                    <img class="card-img-top" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/132.png" alt="${name}">
                    <div class="card-body">
                      <h4 class="card-title">Ditto <span style="color:rgb(125,125,125);">#41</span></h4>
                      <h6 class="card-title">Normal</h6>
                    
                    <table class="table table-bordered table-sm">
                        <thead>
                            <th colspan="4">Stats</th>
                        </thead>
                        <tbody>
                          <tr>
                            <td>HP</td>
                            <td>48</td>
                            <td>Speed</td>
                            <td> 48</td>
                          </tr>
                          <tr>
                            <td>Attack</td>
                            <td>48</td>
                            <td>Special Atk</td>
                            <td>48</td>
                        </tr>
                        <tr>
                            <td>Defense</td>
                            <td>48</td>
                            <td>Special Def</td>
                            <td>48</td>
                          </tr>
                        </tbody>
                    </table>
                    <h6>Abilities</h6>
                    <div class="accordion mb-3">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panel-ability-1">
                                    Ability: <b class="ms-1">Imposter</b>
                                </button>
                            </h2>
                            <div id="panel-ability-1" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    This Pokémon transforms into a random opponent upon entering battle.
                                </div>
                            </div>
                        </div>
                    </div>
                    <h6>Moves</h6>
                    <div class="accordion">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panel-move-1">
                                    Move: <b class="ms-1">Transform</b>
                                </button>
                            </h2>
                            <div id="panel-move-1" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    This Pokémon transforms into a random opponent upon entering battle.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                      <button href="#" class="btn btn-primary">Add to Team</button>
                      <button onclick="removePreviewPokemon()" class="btn btn-warning">Send Back</button>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>